[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Morphoscape"]
	path = Morphoscape
	url = https://github.com/blakedickson/morphoscape
